{% extends request.GET.modal|yesno:'lib.html,base.html' %}
{% block content %}        
        <script>
            function fillcommitteeform() {
                    $('#programs').val({{program_link_id}});
                    $('#description').val("{{description}}");
                    $('#abbreviation').val("{{abbreviation}}");
                    $('#title').val("{{title}}");
                    $('#duplicate').attr('disabled',true);

                    addPersonWidget("{{member_link_id}}", 'members');   //set member values
            }
            $(document).ready( function () {
                updateLists("program", "programs");
                setAutocompleteList('members','person');
                {% ifequal action "Edit" %}
                    setTimeout(fillcommitteeform, 1000);
                {% endifequal %}
            });
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Committee: {{ title }}</H2>
            <p>
                Please update the KSDB database with accurate participating site information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <form id="committeeinput" action="/ksdb/committeeinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">
                    <fieldset class="form-committee">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Committee Title"> 
                        <label for="abbreviation">Abbreviation</label>
                        <input type="text" class="form-control" name="abbreviation" id="abbreviation" placeholder="Enter Committee Abbreviation"> 
                    </fieldset>
                    <fieldset class="form-committee">
                    <label for="programs">Programs  <a data-toggle="modal" id="addprogram" data-target="#modal" onclick="startModal(this)" target="programs" href="program">(Add Program)</a></label>
                    <select multiple class="form-control" size=7 id="programs" name="programs">
                    </select>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-committee">
                    <label for="members">Members</label>
                    <select multiple class="form-control" size=7 id="members" name="members">
                    </select>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-committee">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="6"></textarea>
                    </fieldset>
                    <div class="checkbox">
                      <label><input name="duplicate" id="duplicate" type="checkbox" value="">Allow Duplicates?</label>
                    </div>
                    {% ifequal action "Edit" %}
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="committeeid" value="{{id}}">
                    {% endifequal %}
                    {% ifequal action "New" %}
                    <input type="hidden" name="action" value="new">
                    {% endifequal %}
                </div>
            </form>
            </div>
                <font color="red"><center><div id="results"></div></center></font>
            <div class="col-md-12">
            <center>
            <button type="button" class="btn btn-success" id="submit-committee" type="button" >{{ action }}</button>
            <button type="button" class="btn btn-danger" id="cancel-committee" onClick="window.location = '/ksdb/view/?tabpage=committee';" type="button" >Cancel</button>
            </center>
            </div>
    </div>

	<script>
        var submitButton = document.querySelector("#submit-committee");
        var committeeform = $('#committeeinput');
        submitButton.addEventListener("click", function () {
            $.ajax({
                url : committeeform.attr('action'),
                type : 'POST',
                data : committeeform.serialize()+"&duplicate="+$('#duplicate').is(':checked'),
                success : function (response) {
                    if(response.Success){
                        alert(response.Message);
                        window.location = '/ksdb/view/?tabpage=committee';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
        $('#institutions').change(function () {
            $.ajax({
                url : committeeform.attr('action'),
                type : 'POST',
                data : committeeform.serialize()+"&instchange=1",
                success : function (response) {
                    initInstPersonnel(response.Personnel, response.Personnel);
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
	</script>
{% endblock %}
