<div class="col-md-12">
    <br>
    <table id="degree_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {%for x in degreeheaders%}
                <th> {{x}} </th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
            {% for x in degreetable %}
            <tr>
                {% for y in x %}
                <td> {{y|safe}} </td>
                {%endfor %}
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <button type="button" class="btn btn-success" onClick="window.location = '/ksdb/degreeinput';" id="submit-all" type="button">Add Degree</button>
        <button type="button" class="btn btn-danger" id="remove-all" type="button">Delete Degree</button>
    </center>
</div>
