{% extends request.GET.modal|yesno:'lib.html,base.html' %}
{% block content %}        
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script>
            function initInstPersonnel(pis, staffs) {
                $('#pis').html("");
                $.each(pis, function(key, value) { 
                    $('#pis').append($("<option></option>")
                        .attr("value",value[0])
                        .text(value[1]+" "+value[2])); 
                });
                $('#staff').html("");
                $.each(staffs, function(key, value) { 
                    $('#staff').append($("<option></option>")
                        .attr("value",value[0])
                        .text(value[1]+" "+value[2])); 
                });
            }
            function initfundedsiteinst() {
                    $('#institutions').val({{institution_link_id}});
                    var event = new Event('change');
                    document.getElementById("institutions").dispatchEvent(event);
            }
            function fillfundedsiteform() {
                    $('#pis').val({{pi_link_id}});
                    $('#staff').val({{staff_link_id}});
                    $('#organs').select2().val({{organ_link_id}}).trigger("change");
                    $('#programs').val({{program_link_id}});
                    $('#description').val("{{description}}");
                    $('#abstract').val("{{abstract}}");
                    $('#aims').val("{{aims}}");
                    $('#abbreviation').val("{{abbreviation}}");
                    $('#status').val("{{status}}");
                    $('#name').val("{{name}}");
                    $('#funding_date_start').val("{{funding_date_start}}");
                    $('#funding_date_finish').val("{{funding_date_finish}}");

                    addPersonWidget("{{contact_link_id}}", 'contacts');
            }
            $(document).ready( function () {
                $('#fundingstart').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss' });
                $('#fundingstart').data('DateTimePicker').date(getTodayDate());
                $('#fundingfinish').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss' });
                $('#fundingfinish').data('DateTimePicker').date(getTodayDate());
                updateLists("institution", "institutions");
                updateLists("program", "programs");
                updateLists("organ", "organs");
                setAutocompleteList('contacts','person');
                $('#organs').select2();
                {% ifequal action "Edit" %}
                    setTimeout(initfundedsiteinst, 500);
                    setTimeout(fillfundedsiteform, 1000);
                    $('#duplicate').attr('disabled',true);
                {% endifequal %}
        } );
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Participating Site: {{ name }}</H2>
            <p>
                Please update the KSDB database with accurate participating site information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
            <form id="fundedsiteinput" action="/ksdb/fundedsiteinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Participating Site Name"> 
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="abbreviation">Abbreviation</label>
                        <input type="text" class="form-control" name="abbreviation" id="abbreviation" placeholder="Enter Participating Site Abbreviated Name"> 
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                        <option value="Not Funded">Not Funded</option>
                        <option value="Funded">Funded</option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="programs">Programs  <a data-toggle="modal" id="addprogram" data-target="#modal" onclick="startModal(this)" target="programs" href="program">(Add Program)</a></label>
                    <select multiple class="form-control" size=6 id="programs" name="programs">
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="organs">Organs <a data-toggle="modal" id="addorgan" data-target="#modal" onclick="startModal(this)" target="organs" href="organ">(Add Organ)</a></label>
                    <select multiple class="form-control" size=7 id="organs" name="organs">
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="contacts">Contacts</label>
                    <select multiple class="form-control" size=7 id="contacts" name="contacts">
                    </select>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                    <label for="institutions">Institution <a data-toggle="modal" id="addinstitution" data-target="#modal" onclick="startModal(this)" target="institutions" href="institution">(Add Institution)</a></label>
                    <select multiple class="form-control" size=7 id="institutions" name="institutions">
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="pis">Principal Investigators - please select institution first</label>
                    <select multiple class="form-control" size=7 id="pis" name="pis">
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="staff">Additional Staff - please select institution first</label>
                    <select multiple class="form-control" size=7 id="staff" name="staff">
                    </select>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="fundingstart">Funding Start Date</label>
                          <div class='input-group date' id='fundingstart'>
                            <input type='text' class="form-control" id='funding_date_start' name='funding_date_start' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="fundingfinish">Funding Finish Date</label>
                          <div class='input-group date' id='fundingfinish'>
                            <input type='text' class="form-control" id='funding_date_finish' name='funding_date_finish' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                    <label for="aims">Aims for this Participating Site</label>
                    <textarea class="form-control" id="aims" name="aims" rows="4"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="description">Participating Site Description</label>
                    <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                    </fieldset>
                    <div class="checkbox">
                          <label><input name="duplicate" id="duplicate" type="checkbox" value="">Allow Duplicates?</label>
                        </div>
                    </fieldset>
                </div>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="fundedsiteid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
            </form>
            </div>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
            <center>
            <button type="button" class="btn btn-success" id="submit-fundedsite" type="button" >{{ action }}</button>
            <button type="button" class="btn btn-danger" id="cancel-fundedsite" onClick="window.location = '/ksdb/view/?tabpage=fundedsite';" type="button" >Cancel</button>
            </center>
            </div>
        </div>
    </div>

	<script>
        var submitButton = document.querySelector("#submit-fundedsite");
        var fundedsiteform = $('#fundedsiteinput');
        submitButton.addEventListener("click", function () {
            $.ajax({
                url : fundedsiteform.attr('action'),
                type : 'POST',
                data : fundedsiteform.serialize()+"&duplicate="+$('#duplicate').is(':checked'),
                success : function (response) {
                    if(response.Success){
                        alert(response.Message);
                        window.location = '/ksdb/view/?tabpage=fundedsite';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
        $('#institutions').change(function () {
            $.ajax({
                url : fundedsiteform.attr('action'),
                type : 'POST',
                data : fundedsiteform.serialize()+"&instchange=1",
                success : function (response) {
                    initInstPersonnel(response.Personnel, response.Personnel);
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
	</script>
{% endblock %}
