{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="col-md-12 text-center">
                    <H2>Welcome to KSDB!</H2>
                    <p>
                        Knowledge System DB: The goal of this system is to maintain generalized project information to be used for any bioinformatics knowledge system that the JPL Informatics Center supports. For example, EDRN or MCL.
                    </p>
                    <br>
                </div>
                <div class="row"></div>
            <p><ul>
                                        <ul>
                                            <li>
                                                <a href="/ksdb/view">Home</a>                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=project">KSDB - Projects</a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=institution">KSDB - Institution</
a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=fundedsite">KSDB - Funded Sites</
a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=person">KSDB - Personnel</a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=protocol">KSDB - Protocols</a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=publication">KSDB - Publications</a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=organ">KSDB - Organs</a>
                                            </li>
                                            <li>
                                                <a href="/ksdb/view/?tabpage=degree">KSDB - Degrees</a>
                                            </li>
                                            <li>
                                                <a href="/logout">Logout</a>
                                            </li>
                                        </ul></p>
        </div>
    </div>
<table class="datatable">
        <thead>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>telephone</th>
            <th>email</th>
        </thead>
        <tbody>
        </tbody>
    </table>

<script>
$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/ksdb/testview/"
    });
});
</script>
</div>
{% endblock %}
