{% extends request.GET.modal|yesno:'lib.html,base.html' %}
{% block content %}

        <script>
            function fillinstitutionform() {
                    $('#name').val("{{name}}");
                    $('#department').val("{{department}}");
                    $('#abbreviation').val("{{abbreviation}}".split(","));
                    $('#url').val("{{url}}");
                    $('#description').html("{{description}}");
                    $('#personnel').val({{person_link_id}});
            }
            $(document).ready( function () {
                updateLists("person", "personnel");
                {% ifequal action "Edit" %}
                    setTimeout(fillinstitutionform, 500);
                {% endifequal %}
        } );
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Institution {{ id }}</H2>
            <p>
                Please update the KSDB database with accurate institution information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
            <form id="institutioninput" action="/ksdb/institutioninput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">
                <div class="col-md-6">
                    <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Institution Name">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="department">Department</label>
                      <input type="text" class="form-control" name="department" id="department" placeholder="Enter Department">
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="abbreviation">Abbreviation</label>
                    <input type="text" class="form-control" name="abbreviation" id="abbreviation" placeholder="Enter Abbreviation">
                    </fieldset>
                    <fieldset class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" name="url" id="url" placeholder="Enter URL">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                    <label for="personnel">Personnel <a data-toggle="modal" id="addperson" data-target="#modal" onclick="startModal(this)" target="personnel" href="person">(Add Person)</a></label>
                    <select multiple class="form-control" size='14' id="personnel" name="personnel">
                    </select>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                    <label for="description">Institution Description</label>
                    <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                    <small class="text-muted">Describe your institution.</small>
                    </fieldset>
                    {% ifequal action "Edit" %}
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="institutionid" value="{{id}}">
                    {% endifequal %}
                    {% ifequal action "New" %}
                    <input type="hidden" name="action" value="new">
                    {% endifequal %}
                </div>
                </div>
            </form>
            </div>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
            <center>
            <button type="button" class="btn btn-success" id="submit-institution" type="button" >Add</button>
            <button type="button" class="btn btn-danger" id="cancel-institution" onClick="window.location = '/ksdb/view/?tabpage=institution';" type="button" >Cancel</button>
            </center>
            </div>
        </div>
    </div>

	<script>
        var submitButton = document.querySelector("#submit-institution")
        var institutionform = $('#institutioninput');
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : institutionform.attr('action'),
                type : 'POST',
                data : institutionform.serialize(),
                success : function (response) {
                    if(response.Success){
                      alert(response.Message);
                      window.location = '/ksdb/view/?tabpage=institution';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
	</script>
{% endblock %}
