{% extends 'base.html' %}

{% block content %}
    
    {% load staticfiles %}
    <script>
        $(document).ready(function() {
            function changeTab(ele){
                var currentAttrValue = ele.attr('href');
                // Show/Hide Tabs
                $(currentAttrValue).siblings().hide();
                $(currentAttrValue).show();

                // Change/remove current tab to active
                ele.parent('li').addClass('active').siblings().removeClass('active');
            }
            $('.nav li a').on('click', function(e) {
                changeTab($(this));
                e.preventDefault();
            });
            changeTab($('#programtab'));
            {% if request.GET.tabpage %}
                changeTab($('#'+{{request.GET.tabpage}}.getAttribute("id")+"tab"));
            {% endif %}

        });
        function deleteObj(obj,deleteapi){
           var objs  = $.map($(':checkbox[name='+obj+']:checked'), function(n, i){
              return n.id;
           }).join(',');
           if(confirm("Are you sure you want to delete "+obj+": "+objs+"?")) {
               $.ajax({
                url : "/ksdb/"+deleteapi+"/",
                type : 'POST',
                data : $('#viewform').serialize()+"&id="+objs,
                success : function (response) {
                    if(response.Success){
                      alert(response.Message);
                      window.location = '/ksdb/view/?tabpage='+obj;
                    }else{
                      alert("Delete failed because:"+response.Message);
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
              }); 
            }
        }
        
    </script>
    <div class="container">
        <div class="col-md-12 text-center">
                    <H2>Welcome to KSDB!</H2>
                    <p>
                        Knowledge System DB: The goal of this system is to maintain generalized program information to be used for any bioinformatics knowledge system that the JPL Informatics Center supports. For example, EDRN or MCL.
                    </p>
                    <br>
                </div>
                <div class="row"></div>

        <div class="col-12 col-sm-12 col-lg-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a id="programtab" href="#program">Programs</a>
                </li>
                <li><a id="institutiontab" href="#institution">Institutions</a>
                </li>
                <li><a id="fundedsitetab" href="#fundedsite">Participating Sites</a>
                </li>
                <li><a id="grouptab" href="#group">Collaborative Group</a>
                </li>
                <li><a id="committeetab" href="#committee">Committees</a>
                </li>
                <li><a id="protocoltab" href="#protocol">Protocols</a>
                </li>
                <li><a id="persontab" href="#person">Personnel</a>
                </li>
                <li><a id="publicationtab" href="#publication">Publications</a>
                </li>
                <li><a id="organtab" href="#organ">Organs</a>
                </li>
                <li><a id="diseasetab" href="#disease">Diseases</a>
                </li>
                <li><a id="degreetab" href="#degree">Degrees</a>
                </li>
                <li><a id="rdftab" href="#rdf">KSDB RDFs</a>
                </li>
            </ul>
        </div>
        <div id="content" class="tab-content">
            <form id="viewform">
                {% csrf_token %} 
                <div class="tab-pane" id="protocol">
                    {% include "ksdbobjview.html" with ksdbobj="protocol" ksdbobjtitle="Protocol" ksdbobjheaders=protocolheaders %} 
                </div>
                <div class="tab-pane active" id="program">
                    {% include "ksdbobjview.html" with ksdbobj="program" ksdbobjtitle="Program" ksdbobjheaders=programheaders %} 
                </div>
                <div class="tab-pane" id="person">
                    {% include "ksdbobjview.html" with ksdbobj="person" ksdbobjtitle="Person" ksdbobjheaders=personheaders %}
                </div>
                <div class="tab-pane" id="institution">
                    {% include "ksdbobjview.html" with ksdbobj="institution" ksdbobjtitle="Institution" ksdbobjheaders=institutionheaders %} 
                </div>
                <div class="tab-pane" id="group">
                    {% include "ksdbobjview.html" with ksdbobj="group" ksdbobjtitle="Collaborative Group" ksdbobjheaders=groupheaders %} 
                </div>
                <div class="tab-pane" id="committee">
                    {% include "ksdbobjview.html" with ksdbobj="committee" ksdbobjtitle="Committee" ksdbobjheaders=committeeheaders %} 
                </div>
                <div class="tab-pane" id="fundedsite">
                    {% include "ksdbobjview.html" with ksdbobj="fundedsite" ksdbobjtitle="Participating Site" ksdbobjheaders=fundedsiteheaders %} 
                </div>
                <div class="tab-pane" id="publication">
                    {% include "ksdbobjview.html" with ksdbobj="publication" ksdbobjtitle="Publication" ksdbobjheaders=publicationheaders %} 
                </div>
                <div class="tab-pane" id="disease">
                    {% include "ksdbobjview.html" with ksdbobj="disease" ksdbobjtitle="Disease" ksdbobjheaders=diseaseheaders %} 
                </div>
                <div class="tab-pane" id="organ">
                    {% include "ksdbobjview.html" with ksdbobj="organ" ksdbobjtitle="Organ" ksdbobjheaders=organheaders %} 
                </div>
                <div class="tab-pane" id="degree">
                    {% include "ksdbobjview.html" with ksdbobj="degree" ksdbobjtitle="Degree" ksdbobjheaders=degreeheaders %} 
                </div>
                <div class="tab-pane" id="rdf">
                    {% include "rdfview.html" %} 
            </div>
            </form>
        </div>
    </div>
{% endblock %}
