<div class="col-md-12">
    <br>
    <table id="organ_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {%for x in organheaders%}
                <th> {{x}} </th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
            {% for x in organtable %}
            <tr>
                {% for y in x %}
                <td> {{y|safe}} </td>
                {%endfor %}
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <button type="button" class="btn btn-success" onClick="window.location = '/ksdb/organinput';" id="submit-all" type="button">Add Organ</button>
        <button type="button" class="btn btn-danger"  onClick="deleteObj('organ','deleteorgan');" id="remove-all" type="button">Delete Organ</button>
    </center>
</div>
