{% extends request.GET.modal|yesno:'lib.html,base.html' %}
{% block content %}
        <script>
            function fillpersonform() {
                $('#firstname').val("{{firstname}}");
                $('#lastname').val("{{lastname}}");
                $('#degrees').val({{degree_link_id}});
                $('#email').val("{{email}}");
                $('#telephone').val("{{telephone}}");
                $('#description').html("{{description}}");
            }
            $(document).ready( function () {
                updateLists("degree", "degrees");
                {% ifequal action "Edit" %}
                    setTimeout(fillpersonform, 500);
                {% endifequal %}
        } );
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Personnel: {{ firstname }} {{ lastname }}</H2>
            <p>
                Please update the KSDB database with accurate personnel information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
            <form id="personinput" action="/ksdb/personinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name">
                </fieldset>
                </div>
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name">
                </fieldset>
                </div>
                <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                </fieldset>
                <fieldset class="form-group">
                <label for="telephone">Telephone (Please enter only numbers, no formatting)</label>
                <input type="text" class="form-control" name="telephone" id="telephone" placeholder="ex: 6197722098">
                </fieldset>
                </div>
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="degrees">Degrees <a data-toggle="modal" id="adddegree" data-target="#modal" onclick="startModal(this)" target="degrees" href="degree">(Add Degree)</a></label>
                <select multiple size=6 class="form-control" id="degrees" name="degrees">
                </select>
                </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                    <label for="description">Personnel Description</label>
                    <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                    <small class="text-muted">Describe your personnel.</small>
                    </fieldset>
                </div>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="personid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
                </div>
            </form>
            </div>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
            <center>
            <button type="button" class="btn btn-success" id="submit-person" type="button" >{{ action }}</button>
            <button type="button" class="btn btn-danger" id="cancel-person" onClick="window.location = '/ksdb/view/?tabpage=person';" type="button" >Cancel</button>
            </center>
            </div>
        </div>
    </div>

	<script>
        var submitButton = document.querySelector("#submit-person")
        var personform = $('#personinput');
        //var removeButton = document.querySelector("#cancel-person")
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : personform.attr('action'),
                type : 'POST',
                data : personform.serialize(),
                success : function (response) {
                    if(response.Success){
                        alert(response.Message);
                        window.location = '/ksdb/view/?tabpage=person';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }

                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
	</script>
{% endblock %}
