<div class="col-md-12">
    <br>
    <table id="program_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {%for x in programheaders%}
                <th> {{x}} </th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <button type="button" class="btn btn-success" onClick="window.location = '/ksdb/programinput/';" id="submit-all" type="button">Add Program</button>
        <button type="button" class="btn btn-danger" onClick="deleteObj('program','deleteprogram');" id="remove-all" type="button">Delete Program</button>
    </center>
</div>
