<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ action }} Project</title>
	{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs-3.3.6/jq-2.2.3,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,af-2.1.2,b-1.2.1,b-colvis-1.2.1,b-html5-1.2.1,b-print-1.2.1,cr-1.3.2,fc-3.2.2,fh-3.1.2,r-2.1.0,rr-1.1.2,sc-1.4.2,se-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs-3.3.6/jq-2.2.3,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,af-2.1.2,b-1.2.1,b-colvis-1.2.1,b-html5-1.2.1,b-print-1.2.1,cr-1.3.2,fc-3.2.2,fh-3.1.2,r-2.1.0,rr-1.1.2,sc-1.4.2,se-1.2.0/datatables.min.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

        <script>
            function initprojectform() {
                $.each({{sites|safe}}, function(key, value) { 
                    $('#sites').append($("<option></option>")
                        .attr("value",value[0])
                        .text(value[1])); 
                });
            }
            function fillprojectform() {
                    $('#title').val("{{title}}");
                    $('#abbreviation').val("{{abbreviation}}");
                    $('#description').html("{{description}}");
                    $('#sites').val({{site_link_id}});
            }
            $(document).ready( function () {
                initprojectform();
                {% ifequal action "Edit" %}fillprojectform();{% endifequal %}
                tinymce.init({ selector:'#description'});
        } );
        </script>
    </head>

<body>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>Welcome to KSDB!</H2>
            <p>
                General Study Information System: The goal of this system is to maintain generalized project information to be used for any bioinformatics knowledge system that the JPL Informatics Center supports. For example, EDRN or MCL. 
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <form id="projectinput" action="/ksdb/projectinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                <label for="title">Project Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
                </fieldset>
                <fieldset class="form-group">
                <label for="abbreviation">Abbreviation</label>
                <input type="text" class="form-control" name="abbreviation" id="abbreviation" placeholder="Enter Abbreviation">
                </fieldset>
                <fieldset class="form-group">
                <label for="description">Project Description</label>
                <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                <small class="text-muted">Describe your project.</small>
                </fieldset>
                <fieldset class="form-group">
                <label for="sites">Sites</label>
                <select multiple class="form-control" id="sites" name="sites">
                </select>
                </fieldset>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="projectid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
                </div>
            </form>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
                <center>
                <button type="button" class="btn btn-success" id="submit-project" type="button" >Add</button>
                <button type="button" class="btn btn-danger" onClick="window.location = '/ksdb/view?tabpage=project';" id="cancel-project" type="button" >Cancel</button>
                </center>
            </div>
            </div>
        </div>
    </div>

    <script>
        var submitButton = document.querySelector("#submit-project")
        var projectform = $('#projectinput');
        //var removeButton = document.querySelector("#cancel-project")
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : projectform.attr('action'),
                type : 'POST',
                data : projectform.serialize()+"&description="+encodeURIComponent(tinymce.get('description').getContent().replace(/(?:\r\n|\r|\n)/g,"")),
                success : function (response) {
                    if(response.Success){
                      alert(response.Message);
                      window.location = '/ksdb/view?tabpage=project';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
    </script>
</body>
</html>
