{% extends request.GET.modal|yesno:'lib.html,base.html' %}

{% block content %}
<!DOCTYPE html>
        <script>
            function fillprojectform() {
                    $('#title').val("{{title}}");
                    $('#abbreviation').val("{{abbreviation}}");
                    $('#description').html("{{description}}");
            }
            $(document).ready( function () {
                {% ifequal action "Edit" %}fillprojectform();{% endifequal %}
        } );
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Project {{ id }}</H2>
            <p>
                Please update the KSDB database with accurate project information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <form id="projectinput" action="/ksdb/projectinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                <label for="title">Project Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
                </fieldset>
                <fieldset class="form-group">
                <label for="abbreviation">Abbreviation</label>
                <input type="text" class="form-control" name="abbreviation" id="abbreviation" placeholder="Enter Abbreviation">
                </fieldset>
                <fieldset class="form-group">
                <label for="description">Project Description</label>
                <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                <small class="text-muted">Describe your project.</small>
                </fieldset>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="projectid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
                </div>
            </form>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
                <center>
                <button type="button" class="btn btn-success" id="submit-project" type="button" >Add</button>
                <button type="button" class="btn btn-danger" onClick="window.location = '/ksdb/view?tabpage=project';" id="cancel-project" type="button" >Cancel</button>
                </center>
            </div>
            </div>
        </div>
    </div>

    <script>
        var submitButton = document.querySelector("#submit-project")
        var projectform = $('#projectinput');
        //var removeButton = document.querySelector("#cancel-project")
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : projectform.attr('action'),
                type : 'POST',
                data : projectform.serialize(),
                success : function (response) {
                    if(response.Success){
                      alert(response.Message);
                      window.location = '/ksdb/view?tabpage=project';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
    </script>
{% endblock %}
