<div class="col-md-12">
    <br>
    <table id="project_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {%for x in projectheaders%}
                <th> {{x}} </th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <button type="button" class="btn btn-success" onClick="window.location = '/ksdb/projectinput';" id="submit-all" type="button">Add Project</button>
        <button type="button" class="btn btn-danger" onClick="deleteObj('project','deleteproject');" id="remove-all" type="button">Delete Project</button>
    </center>
</div>
