{% extends request.GET.modal|yesno:'lib.html,base.html' %}

{% block content %}        
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script>
            function fillprotocolform() {
                    $('#title').val("{{title}}");
                    $('#organs').select2().val({{organ_link_id}}).trigger("change");
                    $('#publications').select2().val({{pub_link_id}}).trigger("change");
                    $('#fundedsites').val({{fundedsite_link_id}});
                    $('#start_date').val("{{start_date}}");
                    $('#site_contact').val("{{site_contact}}");
                    $('#site_contact_email').val("{{site_contact_email}}");
                    $('input:radio[name=irb_approval]').filter('[value={{irb_approval}}]').prop('checked', true);
                    $('#irb_approval_num').val("{{irb_approval_num}}");
                    $('#irb_contact').val("{{irb_contact}}");
                    $('#irb_contact_email').val("{{irb_contact_email}}");
                    $('input:radio[name=hum_sub_train]').filter('[value="{{hum_sub_train}}"]').prop('checked', true);
                    $('#abstract').val("{{abstract}}");
                    $('#shortname').val("{{shortname}}");
                    var pis_array = "{{pi_link_id}}".split(',');
                    for(var i = 0; i < pis_array.length; i++) {
                        pis_array[i] = pis_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                        if(pis_array[i] != ""){
                            var $option = $('<option value="'+pis_array[i]+'" selected></option>');
                            $('#pis').append($option);
                        }
                    }
                    var cis_array = "{{ci_link_id}}".split(',');
                    for(var i = 0; i < cis_array.length; i++) {
                        cis_array[i] = cis_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                        if(cis_array[i] != ""){
                            var $option = $('<option value="'+cis_array[i]+'" selected></option>');
                            $('#cis').append($option);
                        }
                    }
                    var cus_array = "{{cus_link_id}}".split(',');
                    for(var i = 0; i < cus_array.length; i++) {
                        cus_array[i] = cus_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                        if(cus_array[i] != ""){
                            var $option = $('<option value="'+cus_array[i]+'" selected></option>');
                            $('#cus').append($option);
                        }
                    }
                    //var pub_array = "{{pub_link_id}}".split(',');
                    //for(var i = 0; i < pub_array.length; i++) {
                    //    pub_array[i] = pub_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                    //    if(pub_array[i] != ""){
                    //        var $option = $('<option value="'+pub_array[i]+'" selected></option>');
                    //        $('#publications').append($option);
                    //    }
                    //}
                    $('#duplicate').attr('disabled',true);
            }
            $(document).ready( function () {
                $('#protocolstart').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss' });
                $('#protocolstart').data('DateTimePicker').date(getTodayDate());
                updateLists("organ", "organs");
                updateLists("publication", "publications");
                updateLists("fundedsite", "fundedsites");
                setAutocompleteList('pis','person', '', '', 1);
                setAutocompleteList('cis','person', '', '', 1);
                setAutocompleteList('cus','person', '', '', 1);
                $('#organs').select2();
                $('#publications').select2();
                {% ifequal action "Edit" %}
                    setTimeout(fillprotocolform, 500);
                {% endifequal %}
        });
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Protocol: {{ title }}</H2>
            <p>
                Please update the KSDB database with accurate protocol information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
            <form id="protocolinput" action="/ksdb/protocolinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
                </fieldset>
                <fieldset class="form-group">
                  <label for="protocolstart">Start Date</label>
                  <div class='input-group date' id='protocolstart'>
                    <input type='text' class="form-control" id='start_date' name='start_date' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                <label for="organs">Organs <a data-toggle="modal" id="addorgan" data-target="#modal" onclick="startModal(this)" target="organs" href="organ">(Add Organ)</a></label>
                <select multiple class="form-control" size=13 id="organs" name="organs">
                </select>
                </fieldset>
                <fieldset class="form-group">
                <label for="pis">Lead Investigators <a data-toggle="modal" id="addperson" data-target="#modal" onclick="startModal(this)" target="pis,cis,cus" href="person">(Add Person)</a></label>
                <select multiple class="form-control" size=14 id="pis" name="pis">
                </select>
                </fieldset>
                <fieldset class="form-group">
                <label for="cis">Coordinating Investigator <a data-toggle="modal" id="addperson" data-target="#modal" onclick="startModal(this)" target="pis,cis,cus" href="person">(Add Person)</a></label>
                <select multiple class="form-control" size=14 id="cis" name="cis">
                </select>
                </fieldset>
                <fieldset class="form-group">
                  <label for="irb_contact">IRB Contact Name</label>
                  <input type="text" class="form-control" id="irb_contact" name="irb_contact" placeholder="Enter IRB Contact Name">
                </fieldset>
                <fieldset class="form-group">
                  <label for="irb_contact_email">IRB Contact Email</label>
                  <input type="text" class="form-control" id="irb_contact_email" name="irb_contact_email" placeholder="Enter IRB Contact Email">
                </fieldset>
                <fieldset class="form-group">
                  <label for="site_contact">Site Contact</label>
                  <input type="text" class="form-control" id="site_contact" name="site_contact" placeholder="Enter Site Contact Name">
                </fieldset>
                <fieldset class="form-group">
                  <label for="site_contact_email">Site Contact Email</label>
                  <input type="text" class="form-control" id="site_contact_email" name="site_contact_email" placeholder="Enter Site Contact Email">
                </fieldset>
                <fieldset class="form-group">
                <label for="cus">Custodian <a data-toggle="modal" id="addperson" data-target="#modal" onclick="startModal(this)" target="pis,cis,cus" href="person">(Add Person)</a></label>
                <select multiple class="form-control" size=13 id="cus" name="cus">
                </select>
                </fieldset>
                </div>
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="shortname">Short Name</label>
                <input type="text" class="form-control" name="shortname" id="shortname" placeholder="Enter Short Name">
                </fieldset>
                <fieldset class="form-group">
                <label for="fundedsites">Participating Sites <a data-toggle="modal" id="addfundedsite" data-target="#modal" onclick="startModal(this)" target="fundedsites" href="fundedsite">(Add Site)</a></label>
                <select multiple class="form-control" size=10 id="fundedsites" name="fundedsites">
                </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="irb_approval">IRB Approval</label>
                    <div class="radio">
                        <label>
                          <input type="radio" name="irb_approval" id="irb_approval1" value="Yes" checked>
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                          <input type="radio" name="irb_approval" id="irb_approval2" value="No">
                           No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                          <input type="radio" name="irb_approval" id="irb_approval3" value="Unknown">
                           Unknown
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                  <label for="irb_approval_num">Approval #</label>
                  <input type="text" class="form-control" id="irb_approval_num" name="irb_approval_num" placeholder="Enter Approval #">
                </fieldset>
                <fieldset class="form-group">
                  <label for="hum_sub_train">Human Subjects Training</label>
                    <div class="radio">
                        <label>
                          <input type="radio" name="hum_sub_train" id="hum_sub_train1" value="Yes" checked>
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                          <input type="radio" name="hum_sub_train" id="hum_sub_train2" value="No">
                            No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                          <input type="radio" name="hum_sub_train" id="hum_sub_train3" value="Not Required">
                            Not Required
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                          <input type="radio" name="hum_sub_train" id="hum_sub_train4" value="Unknown">
                            Unknown
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                <label for="publications">Publications</label>
                <select multiple class="form-control" size=13 id="publications" name="publications">
                </select>
                </fieldset>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="protocolid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
                </div>
            </div>
            <div class="col-md-12">
            <fieldset class="form-group">
              <label for="abstract">Abstract</label>
              <textarea class="form-control" id="abstract" name="abstract" rows="8"></textarea>
              <small class="text-muted">Enter abstract for this protocol.</small>
            </fieldset>
            </form>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
                <fieldset>
                    <div class="checkbox">
                      <label><input name="duplicate" id="duplicate" type="checkbox" value="">Allow Duplicates?</label>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <center>
                <button type="button" class="btn btn-success" id="submit-protocol" type="button" >{{ action }}</button>
                <button type="button" class="btn btn-danger" id="cancel-protocol" onClick="window.location = '/ksdb/view/?tabpage=protocol';" type="button" >Cancel</button>
                </center>
            </div>
            </div>
        </div>
    </div>
	<script>
        var submitButton = document.querySelector("#submit-protocol")
        var protocolform = $('#protocolinput');
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : protocolform.attr('action'),
                type : 'POST',
                data : protocolform.serialize()+"&duplicate="+$('#duplicate').is(':checked'),
                success : function (response) {
                    if(response.Success){
                      alert(response.Message);
                      window.location = '/ksdb/view/?tabpage=protocol';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
	</script>
{% endblock %}
