{% extends request.GET.modal|yesno:'lib.html,base.html' %}
{% block content %}    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <script>
            function fillpublicationform() {
                    $('#title').val("{{title}}");
                    $('#authors').val("{{authors}}");
                    $('#journal').val("{{journal}}");
                    $('#pubyear').val("{{pubyear}}");
                    $('#pubmedid').val("{{pubmedid}}");
            }
            $(document).ready( function () {
                {% ifequal action "Edit" %}
                    setTimeout(fillpublicationform, 500);
                {% endifequal %}
        } );
        </script>
    <div class="container">
        <div class="col-md-12 text-center">
            <H2>{{ action }} Publication: {{ title }}</H2>
            <p>
                Please update the KSDB database with accurate publication information.
            </p>
            <br>
        </div>
        <div class="col-md-12">
            <form id="publicationinput" action="/ksdb/publicationinput/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                <fieldset class="form-group">
                <label for="pubmedid">PubMed ID</label>
                <input type="text" class="form-control" name="pubmedid" id="pubmedid" placeholder="Enter Publication ID">
                </fieldset>
                <fieldset class="form-group">
                <label for="title">Publication Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Publication Title">
                </fieldset>
                <fieldset class="form-group">
                <label for="authors">Authors</label>
                <input type="text" class="form-control" name="authors" id="authors" placeholder="Enter Authors">
                </fieldset>
                <fieldset class="form-group">
                <label for="journal">Journal</label>
                <input type="text" class="form-control" name="journal" id="journal" placeholder="Enter Journal">
                </fieldset>
                <fieldset class="form-group">
                  <label for="pubyear">Publication Year</label>
                  <input type='number' class="form-control" id='pubyear' name='pubyear' />
                </fieldset>
                {% ifequal action "Edit" %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="publicationid" value="{{id}}">
                {% endifequal %}
                {% ifequal action "New" %}
                <input type="hidden" name="action" value="new">
                {% endifequal %}
                </div>
                <div class="col-md-6">
                    <label><span class="glyphicon glyphicon-arrow-left"></span> Please fill out pubmed id in order to query</label><br>
                    <button type="button" class="btn btn-info" id="query-pubmed" type="button" >Query Pubmed ID</button>
                    <br>
                    <br>
                    <div id="QueryTitle"></div>
                    <div id="QueryAuthors"></div>
                    <div id="QueryJournal"></div>
                    <div id="QueryArticleDate"></div>
                    <div id="QueryAbstract"></div>
                </div>
            </form>
            </div>
            <div class="col-md-12">
                <font color="red"><center><div id="results"></div></center></font>
            </div>
            <div class="col-md-12">
            <center>
            <button type="button" class="btn btn-success" id="submit-publication" type="button" >{{ action }}</button>
            <button type="button" class="btn btn-danger" id="cancel-publication" onClick="window.location = '/ksdb/view/?tabpage=publication';" type="button" >Cancel</button>
            </center>
        </div>
    </div>

	<script>
        var submitButton = document.querySelector("#submit-publication")
        var queryPubButton = document.querySelector("#query-pubmed")
        var publicationform = $('#publicationinput');
            submitButton.addEventListener("click", function () {
                $.ajax({
                url : publicationform.attr('action'),
                type : 'POST',
                data : publicationform.serialize(),
                success : function (response) {
                    if(response.Success){
                        alert(response.Message);
                        window.location = '/ksdb/view/?tabpage=publication';
                    }else{
                        $('span.label-danger').remove();
                        jQuery.each(jQuery.parseJSON(response.Message), function(i, val) {
                            var $lab_span = $('<span>');
                            $lab_span.attr("class", "label label-danger");
                            $lab_span.html(val);
                            $('#'+i).parent().append($lab_span, '\n');
                        });
                        $('#results').html("<font color='red'>Please fix the above form input errors</font>");
                    }
                },
                error : function(xhr, status, error) {
                    alert("Error: "+xhr.responseText);
                }
            });
        });
        queryPubButton.addEventListener("click", function () {
                pubid = $('#pubmedid').val();
                $.ajax({
                url : "/ksdb/querypubmed/?pubmed_id="+pubid,
                type : 'GET',
                success : function (response) {
                    $('blockquote.blockquote').remove();
                        var $label = $('<label>');
                        $label.html("Publication Title");
                        var $block_quote = $('<blockquote>');
                        $block_quote.attr("class", "blockquote");
                        $block_quote.html(response['QueryTitle']);
                        $('#QueryTitle').append($label, '\n');
                        $('#QueryTitle').append($block_quote, '\n');
                        $('#title').val(response['QueryTitle']);

                        var $label = $('<label>');
                        $label.html("Abstract");
                        var $block_quote = $('<blockquote>');
                        $block_quote.attr("class", "blockquote");
                        $block_quote.html(response['QueryAbstract']);
                        $('#QueryAbstract').append($label, '\n');
                        $('#QueryAbstract').append($block_quote, '\n');

                        var $label = $('<label>');
                        $label.html("Journal");
                        var $block_quote = $('<blockquote>');
                        $block_quote.attr("class", "blockquote");
                        $block_quote.html(response['QueryJournal']);
                        $('#QueryJournal').append($label, '\n');
                        $('#QueryJournal').append($block_quote, '\n');
                        $('#journal').val(response['QueryJournal']);

                        var $label = $('<label>');
                        $label.html("Authors");
                        var $block_quote = $('<blockquote>');
                        $block_quote.attr("class", "blockquote");
                        $block_quote.html(response['QueryAuthors']);
                        $('#QueryAuthors').append($label, '\n');
                        $('#QueryAuthors').append($block_quote, '\n');

                        var $label = $('<label>');
                        $label.html("Start Date");
                        var $block_quote = $('<blockquote>');
                        $block_quote.attr("class", "blockquote");
                        $block_quote.html(response['QueryArticleDate']);
                        $('#QueryArticleDate').append($label, '\n');
                        $('#QueryArticleDate').append($block_quote, '\n');
                },
                error : function(xhr, status, error) {
                    alert("Pubmed ID: "+pubid+" may not be a legitimate pubmed id, please try again!");
                    //alert("Error: "+xhr.responseText);
                }
            });
        });

	</script>
{% endblock %}
