<div class="col-md-12">
    <br>
    <table id="publication_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {%for x in publicationheaders%}
                <th> {{x}} </th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <button type="button" class="btn btn-success" onClick="window.location = '/ksdb/publicationinput';" id="submit-all" type="button">Add Publication</button>
        <button type="button" class="btn btn-danger"  onClick="deleteObj('publication','deletepublication');" id="remove-all" type="button">Delete Publication</button>
    </center>
</div>
