<div class="col-md-12">
    <br>
    <table id="rdf_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>RDF Export</th>
                <th>Excel Export <a href="/ksdb/publishexcel/?exceltype=all">(All)</a></th>
                <th>RDF Ingest</th>
            </tr>
        </thead>
        <tbody>
            <tr><center>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=program">Program RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=program">Program Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=institution">Institution RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=institution">Institution Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=committee">Committees RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=committee">Committees Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=group">Collaborative Groups RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=group">Collaborative Groups Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=fundedsite">Funded Sites RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=fundedsite">Funded Sites Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=person">Personnel RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=person">Personnel Excel</a></center></td>
                <td><center> <a href="/ksdb/ingestrdf/?rdftype=person">Ingest Personnel from CancerDataExpo</a></center></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=protocol">Protocols RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=protocol">Protocols Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=publication">Publications RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=publication">Publications Excel</a></center></td>
                <td><center> <a href="/ksdb/ingestrdf/?rdftype=publication">Ingest Publications from CancerDataExpo</a></center></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=disease">Diseases RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=disease">Diseases Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=organ">Organs RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=organ">Organs Excel</a></center></td>
                <td><center> <a href="/ksdb/ingestrdf/?rdftype=organ">Ingest Organs from CancerDataExpo</a></center></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=degree">Degrees RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=degree">Degrees Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=discipline">Disciplines RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=discipline">Disciplines Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=specimentype">Specimen Types RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=specimentype">Specimen Types Excel</a></center></td>
                <td></td>
            <tr></tr>
                <td><center> <a href="/ksdb/publishrdf/?rdftype=species">Species RDF</a></center></td>
                <td><center> <a href="/ksdb/publishexcel/?exceltype=species">Species Excel</a></center></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
